{#
/**
 * @file
 * Theme overriden to display a pager.
 * - Bootstrap classes added
 * - Changed link text.
 *
 * Available variables:
 * - heading_id: Pagination heading ID.
 * - items: List of pager items.
 *
 * @see template_preprocess_views_mini_pager()
 */
#}
{% if items.previous or items.next %}
    <nav role="navigation" aria-labelledby="{{ heading_id }}">
        <h4 id="{{ heading_id }}" class="visually-hidden">{{ 'Pagination'|t }}</h4>
        <ul class="pagination justify-content-center js-pager__items">
            {% if items.previous %}
                <li class="page-item">
                    <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes.addClass('page-link')|without('href', 'title', 'rel') }}>
                        <span class="visually-hidden">{{ 'Previous page'|t }}</span>
                        <span aria-hidden="true">{{ items.previous.text|default('«'|t) }}</span>
                    </a>
                </li>
            {% endif %}
            {% if items.current %}
                <li class="page-item active">
                    {% trans %}
                        <span class="page-link">{{ items.current }}
                    {% endtrans %}
                </li>
            {% endif %}
            {% if items.next %}
                <li class="page-item">
                    <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes.addClass('page-link')|without('href', 'title', 'rel') }}>
                        <span class="visually-hidden">{{ 'Next page'|t }}</span>
                        <span aria-hidden="true">{{ items.next.text|default('»'|t) }}</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
